.container{
   display: flex;
   justify-content: center;
   margin-top: 65px;
   width: 100%;
}

.response {
   display: flex;
   justify-content: space-between;
   width: 500px;
   margin-top: 30px;
}

.reviews{
    display: flex;
    justify-content: center;
}

.responseButton {
    max-width: 300px;
    width: 100%;
    background: #000;
    border-radius: 0;
    min-height: 50px;
    color: #fff;
    border: 1px solid #fff;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.response-cart-all {
    display: flex;
    flex-direction: column;
    align-items: center; /* Змініть на center, якщо хочете вирівняти по центру */
    margin-top: 20px;
}

.response-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 85px;
    border: 1px solid #fff;
    padding: 15px;
    margin-top: 10px;
}

.name {
    color: #fff;
    text-align: center;
    flex-grow: 1;
    margin-right: 550px; /* відстань між іменем і .response-cart */
}

.rating {
    margin-top: 5px;
    margin-left: 490px;
    color: #fff;
}

.thank-you-message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 85px;
    border: 1px solid #fff;
    margin-left: 30px;
    padding: 15px;
}