.container{
   display: flex;
   justify-content: center;
   margin-top: 65px;
}

.response {
   display: flex;
   justify-content: space-between;
   width: 500px;
   margin-top: 30px;
}

.reviews{
    display: flex;
    justify-content: center;
}

.responseButton {
    max-width: 300px;
    width: 100%;
    background: #000;
    border-radius: 0;
    min-height: 50px;
    color: #fff;
    border: 1px solid #fff;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.response-cart-all{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.response-cart{
    width: 600px;
    height: 85px;
    border: 1px solid #fff;
    margin-left: 30px;
    padding: 15px;
}

.name {
    margin-top: 30px;
    color: #fff;
}

.rating {
    margin-left: 10px;
    color: #fff
}